<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdey.impl.mapper.WxUsersSubscribehospitalMapper">
	<resultMap id="BaseResultMap" type="com.sdey.api.po.WxUsersSubscribehospital">
		<!-- @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userid" jdbcType="INTEGER" property="userid" />
		<result column="subscribehospitalid" jdbcType="INTEGER"
			property="subscribehospitalid" />
		<result column="shoucang" jdbcType="INTEGER" property="shoucang" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- @mbg.generated -->
		id, userid, subscribehospitalid, shoucang
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		<!-- @mbg.generated -->
		select
		<include refid="Base_Column_List" />
		from wx_users_subscribehospital
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectSubHospitalByUserIdAndHospitalId"
		parameterType="com.sdey.api.vo.Dao_Search_SubParam" resultMap="BaseResultMap">
		<!-- @mbg.generated -->
		select
		<include refid="Base_Column_List" />
		from wx_users_subscribehospital
		where userid =
		#{wxUserID,jdbcType=INTEGER} and subscribehospitalid =
		#{hospitalID,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- @mbg.generated -->
		delete from wx_users_subscribehospital
		where id =
		#{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sdey.api.po.WxUsersSubscribehospital">
		<!-- @mbg.generated -->
		insert into wx_users_subscribehospital (id, userid,
		subscribehospitalid,
		shoucang)
		values (#{id,jdbcType=INTEGER},
		#{userid,jdbcType=INTEGER},
		#{subscribehospitalid,jdbcType=INTEGER},
		#{shoucang,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.sdey.api.po.WxUsersSubscribehospital">
		<!-- @mbg.generated -->
		insert into wx_users_subscribehospital
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="subscribehospitalid != null">
				subscribehospitalid,
			</if>
			<if test="shoucang != null">
				shoucang,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="subscribehospitalid != null">
				#{subscribehospitalid,jdbcType=INTEGER},
			</if>
			<if test="shoucang != null">
				#{shoucang,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sdey.api.po.WxUsersSubscribehospital">
		<!-- @mbg.generated -->
		update wx_users_subscribehospital
		<set>
			<if test="userid != null">
				userid = #{userid,jdbcType=INTEGER},
			</if>
			<if test="subscribehospitalid != null">
				subscribehospitalid =
				#{subscribehospitalid,jdbcType=INTEGER},
			</if>
			<if test="shoucang != null">
				shoucang = #{shoucang,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="cancelYishouCang" parameterType="java.lang.Integer">
		update
		wx_users_subscribehospital set shoucang=0 where userid =
		#{userid,jdbcType=INTEGER}
	</update>

	<update id="updateSubForShouCang" parameterType="com.sdey.api.po.WxUsersSubscribehospital">
		update
		wx_users_subscribehospital set shoucang=1 where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sdey.api.po.WxUsersSubscribehospital">
		<!-- @mbg.generated -->
		update wx_users_subscribehospital
		set userid =
		#{userid,jdbcType=INTEGER},
		subscribehospitalid =
		#{subscribehospitalid,jdbcType=INTEGER},
		shoucang =
		#{shoucang,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 获取关注医院的id -->
	<select id="getShouchangHospitalID" resultType="java.lang.Integer">
		SELECT wxusersub.subscribehospitalid as subhosid FROM sdeyweixin.wx_users
		wxuser inner join
		sdeyweixin.wx_users_subscribehospital wxusersub on
		wxuser.id=wxusersub.userid
		where wxuser.openid=#{openid,jdbcType=VARCHAR} and wxusersub.shoucang=1
	</select>
</mapper>